.blur-container{
  width: 90%;
  height: 90%;
  padding: max(70px, 10%) 10%;
  display: flex;
  position: relative;
  aspect-ratio: 0.565 / 1;
  background: rgba(0, 0, 0, .2);
  mix-blend-mode: normal;
  backdrop-filter: blur(100px);
  border-radius: 20px;
}

.input{
  background-color: #292929;
  border-radius: 20px;
  border: none;
  padding: 10px;
}

.ant-input::placeholder {
  color: #535353;
  font-size: 16px;
}

#custom-input .ant-input-outlined:hover{
  background-color: #292929;
}

#custom-input .ant-input-outlined:focus{
  background-color: #292929;
}

#search-input .ant-input-outlined:hover{
  background-color: #292929;
}

#search-input .ant-input-outlined:focus{
  background-color: #292929;
}

.ant-input {
  caret-color: #00d4ff !important; 
  color: #ffffff;
}

